fastapi==0.110.3
uvicorn==0.29.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.2
pydantic==2.7.1
scipy==1.13.0
redis~=5.0.4
SQLAlchemy~=2.0.30
apscheduler~=3.10.4
py-eureka-client
python-dotenv~=1.0.1
mysql-connector-python
openai~=1.29.0
request